<div id='cart-container'>
    <ul id='cart-list'>
        <!-- Aquí se llenará la lista de productos del carrito -->
    </ul>
    <div class='total-price' id='total-price'>
        Total: $0
    </div>
    <button class='btn-buy'>Comprar</button>
    <button class='btn-clear'>Limpiar carrito</button>
</div>

<link rel='stylesheet' href='/css/cart.css' />
<script src='/js/cart.js' defer></script>