{{!-- Componente de navegación principal --}}
<nav>
    {{!-- Lista de navegación izquierda --}}
    <ul class='nav-left'>
        {{!-- Condicional para mostrar diferentes opciones según si hay usuario logueado --}}
        {{#if user}}
            {{!-- Opciones para usuario autenticado --}}
            <li><a href='/'>Inicio</a></li>
            <li><a href='/carts'>Carritos</a></li>
        {{else}}
            {{!-- Opciones para usuario no autenticado --}}
            <li><a href='/login'>Iniciar Sesión</a></li>
            <li><a href='/register'>Registrarse</a></li>
        {{/if}}
    </ul>

    {{!-- Sección derecha de la navegación (solo visible para usuarios autenticados) --}}
    {{#if user}}
        <ul class='nav-right'>
            <li class='user-info'>
                {{!-- Enlace al perfil del usuario --}}
                <a href='/profile' class='user-name'>{{user.first_name}}</a>
                {{!-- Botón para cerrar sesión --}}
                <button id='logoutBtn' class='btn-logout'>Cerrar Sesión</button>
            </li>
        </ul>
    {{/if}}
</nav>

{{!-- Vinculación de archivos externos --}}
{{!-- Estilos CSS para la barra de navegación --}}
<link rel='stylesheet' href='/css/navbar.css' />
{{!-- JavaScript para la funcionalidad de la barra de navegación --}}
<script src='/js/navbar.js' defer></script>